$white: #fff;
$red: #e70f2d;
$grey: #757575;
$dark_blue: #013368;
$light_blue: #2776c2;
$main_bg: #014ca0;

$md: 694px;
$sm: 570px;

@font-face {
    font-family: 'sofiapro';
    src: url('../fonts/sofiaproregular-webfont.woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'sofiapro';
    src: url('../fonts/sofiaproblack-webfont.woff2');
    font-weight: 900;
    font-style: normal;
}
