@import '_normalize';
@import '_mixins';
@import '_settings';
@import '_content';


html,
body {
  width: 100%;
  position: relative;
  font-family: 'sofiapro', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
